* {
    margin: 0;
}

/* ESQUELETO */
.esqueleto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2E9DC;
}
.botao {
    text-align: center;
}

/* HERO */

.hero {
    display: flex;
    background-color: #302218;

    flex-direction: column;
    align-items: center;
    justify-content: end;

    height: 20rem;
    width: 100%;
    
    padding: 5rem 0px;
}
.tituloHero{
    padding: 2rem;
    color: antiquewhite;
    
    text-align: center;

    font-size: xx-large;
    font-family: 'Montserrat';
}
.textoHero{
    color: rgba(250, 235, 215, 0.649);
    text-align: center;
    padding: 0px 0px 5rem 0px;
}

/* LINHA SERVIÇOS */

.linhaServicos {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagemServicos {
    width: 4rem;
    height: 4rem;
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */

    margin: 0px 0px 1rem 0px;
}
#resenhas {
    background-image: url(imgLivro.png)
}
#livros {
    background-image: url(imgColuna.png);
    width: 3.5rem;
}
#vendas {
    background-image: url(imgLink-quebrado.png);
}
.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    height: 10rem;
    width: 15rem;
    margin: 3rem 3rem;

    font-size: larger;
    text-decoration: solid;

    color: #302218;
}

/* LINHA ARTIGOS */

.linhaArtigos {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagemArtigos {
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-color: #302218;

    margin: 0px 0px 1rem 0px;
}
#imgArtigo1 {
    background-image: url(#)
}
#imgArtigo2 {
    background-image: url(indexLivraria.html);
}
#imgArtigo3 {
    background-image: url(#);
}
.artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    height: 18rem;
    width: 22rem;
    margin: 3rem 3rem;

    font-size: larger;
    text-decoration: solid;

    color: #302218;
}

/* DESCRIÇÃO */
.modulo3 {
    display: flex;
    flex-direction: row;
}
.descricao {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 5rem 5rem;

    width: 30rem;
}
.tituloDescricao {
    margin: 0px 0px 25px 0px;
    font-size: 1.8rem;
    font-style: "bold";
}
.textoDescricao {
    font-size: 1.2rem;
    margin: 0px 0px 25px 0px;
}
.slogan {
    font-size: 1.2rem;
}
.CTA {
    display: flex;
    flex-direction: column;
}
.imagemFilosofo {
    width: 100%;
    height: 300px;
    background-size: cover; /* Ajusta a imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-image: url(imgFilosofo.png);
}

/*  -----------------------------------   CASO A TELA SEJA PEQUENA   -------------------------------------------------- */

@media (max-width: 1000px) {
    /* ESQUELETO */
    .esqueleto {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F2E9DC;
    }
    .botao {
        height: 3rem;
        width: 7rem;
        text-align: center;
        align-items: center;
    }
    /* HERO */
    .hero {
        display: flex;
        background-color: #302218;

        flex-direction: column;
        align-items: center;
        justify-content: end;

        height: 40rem;
        width: 100%;
        
        padding: 5rem 0px;
    }
    .tituloHero{
        padding: 2rem;
        color: antiquewhite;
        
        text-align: center;

        font-size: 50px;
        font-family: 'Montserrat';
    }
    .textoHero{
        color: rgba(250, 235, 215, 0.649);
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 5rem 0px;
    }

    /* LINHA SERVIÇOS */
    .linhaServicos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .imagemServicos {
        width: 10rem;
        height: 10rem;
        background-size: cover; /* Ajusta a imagem para cobrir o elemento */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição da imagem */
        font-size: xx-large;

        width: 100%;
    }
    #resenhas {
        background-image: url(imgLivro.png);
        width: 7rem;
        height: 7rem;
    }
    #livros {
        background-image: url(imgColuna.png);
        width: 7rem;
        height: 7rem;
    }
    #vendas {
        background-image: url(imgLink-quebrado.png);
        width: 7rem;
        height: 7rem;
    }
    .servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        
        height: 100%;
        width: 100%;
        padding: 2rem;

        font-size: xx-large;
        text-decoration: solid;

        color: #302218;
        background-color: #160eaa;
    }

    /* LINHA ARTIGOS */

    .linhaArtigos {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }
    .imagemArtigos {
        width: 100%;
        height: 40rem;
        border-radius: 20px;
        background-size: cover; /* Ajusta a imagem para cobrir o elemento */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição da imagem */
        background-color: #302218;
    }
    #imgArtigo1 {
        background-image: url(#)
    }
    #imgArtigo2 {
        background-image: url(indexLivraria.html);
    }
    #imgArtigo3 {
        background-image: url(#);
    }
    .artigo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        
        height: 30rem;
        width: 100%;
        margin: 3rem 3rem;

        font-size: larger;
        text-decoration: solid;

        font-size: xx-large;
        color: #302218;
    }

    /* DESCRIÇÃO */
    .modulo3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .descricao {
        display: flex;
        flex-direction: column;
        margin: 0rem 5rem 5rem 5rem;
    }
    .tituloDescricao {
        margin: 0px 0px 25px 0px;
        font-size: 3rem;
        font-style: "bold";
    }
    .textoDescricao {
        font-size: 2.5rem;
        margin: 0px 0px 25px 0px;
    }    
    .slogan {
        font-size: 2.5rem;
    }
    .CTA {
        display: flex;
        flex-direction: column;
    }
    #botaoModulo3 {
        align-self: center;
    }
    .imagemFilosofo {
        width: 100%;
        height: 60rem;
        background-size: cover; /* Ajusta a imagem para cobrir o elemento */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição da imagem */
        background-image: url(imgFilosofo.png);
    }
}
